menuconfig POWER_AVS
	bool "Adaptive Voltage Scaling class support"
	help
	  AVS is a power management technique which finely controls the
	  operating voltage of a device in order to optimize (i.e. reduce)
	  its power consumption.
	  At a given operating point the voltage is adapted depending on
	  static factors (chip manufacturing process) and dynamic factors
	  (temperature depending performance).
	  AVS is also called SmartReflex on OMAP devices.

	  Say Y here to enable Adaptive Voltage Scaling class support.

config POWER_TI_HARDWARE_VOLTAGE_CONTROL
	tristate "TI OMAP SoC Voltage Control support"
	depends on OF && ARCH_OMAP && REGULATOR_TI_OMAP_PMIC
	select REGMAP_MMIO
	help
	  Select this option to support Texas Instruments' custom Voltage
	  Processor + Voltage Controller data interface used in OMAP SoCs
	  to enable Adaptive Voltage Scaling(AVS) and Device Frequency and
	  Voltage Scaling(DVFS). This is a specific "write-only" interface
	  designed to interface with I2C based PMICs. These two subsystems
	  in OMAP do not exist independent of each other as they are
	  practically useless without each other.

	  Say Y here to enable TI OMAP SoC Voltage Control support.
