menuconfig DSSCOMP
        tristate "OMAP DSS Composition support (EXPERIMENTAL)"
        depends on OMAP2_DSS
	default y

        help
          Frame composition driver using OMAP DSS2.  Allows using all
	  DSS2 resources in a unified configuration.  Should not be used
	  together with other DSS2 devices, such as V4L2 or framebuffer.

config DSSCOMP_DEBUG_LOG
	bool "Log event timestamps in debugfs"
	default y
	depends on DEBUG_FS

	help
	  Takes timestamp for each callback and state transition, and
	  logs the last 128 entries (last few frames' worth) in a
	  log buffer.  This is a separate menuconfig in case this is
	  deemed an overhead.

config OMAP3_ISP_RESIZER_ON_720P_VIDEO
	bool "ISP resizer used  for 720p video in DSSCOMP in OMAP3 (EXPERIMENTAL)"
	depends on EXPERIMENTAL && VIDEO_OMAP34XX_ISP_RESIZER
	default n
	help
	  Use ISP resizer on video buffers instead of DSS resizer.
	  Could increase performance of playing 720p clip but,
	  have some issues when record 720p with camera.
