CONFIG_TRACEPOINTS=y
CONFIG_MARKERS=y
CONFIG_LTT=y
CONFIG_LTT_FILTER=y
CONFIG_LTT_RELAY=y
CONFIG_LTT_RELAY_LOCKLESS=y
# CONFIG_LTT_RELAY_IRQOFF is not set
# CONFIG_LTT_RELAY_LOCKED is not set
CONFIG_LTT_SERIALIZE=y
CONFIG_LTT_FAST_SERIALIZE=y
CONFIG_LTT_TRACEPROBES=y
CONFIG_LTT_TRACE_CONTROL=y
CONFIG_LTT_TRACER=y
CONFIG_LTT_ALIGNMENT=y
CONFIG_LTT_CHECK_ARCH_EFFICIENT_UNALIGNED_ACCESS=y
# CONFIG_LTT_DEBUG_EVENT_SIZE is not set
CONFIG_LTT_USERSPACE_EVENT=y
CONFIG_LTT_VMCORE=y
CONFIG_LTT_STATEDUMP=y
# CONFIG_LTT_ASCII is not set
# CONFIG_NET_DROP_MONITOR is not set
CONFIG_STACKTRACE=y
CONFIG_NOP_TRACER=y
CONFIG_RING_BUFFER=y
CONFIG_EVENT_TRACING=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_TRACING=y
CONFIG_GENERIC_TRACER=y
# CONFIG_FTRACE_STARTUP_TEST is not set
# CONFIG_RING_BUFFER_BENCHMARK is not set
CONFIG_BINARY_PRINTF=y
