/*
 * Copyright (C) 2013 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "omap3-minnow.dtsi"

/ {
	mmi,revision = "p1";
	mmi,hwrev = <0xFE>;
};

&i2c2 {
    m4sensorhub@39 {
		status = "disabled";
    };
};

&i2c2 {
    m4sensorhub@18 {
        compatible = "mot,m4sensorhub";
        reg = <0x18>;

        mot,irq-gpio    = <&gpio2 27 1>; /* gpio-059 */
        mot,reset-gpio  = <&gpio5  1 2>; /* gpio-129 */
        mot,wake-gpio   = <&gpio4 30 0>; /* gpio-126 */
        mot,boot0-gpio  = <&gpio1 21 0>; /* gpio-021 */
        mot,boot1-gpio  = <&gpio1 24 0>; /* gpio-024 */
        mot,enable-gpio = <&gpio1 28 0>; /* gpio-028 */
	mot,fw-filename = "m4sensorhub-p1_casper.bin";
    };
};

&mcspi1 {
	clock-frequency = <3000000>;
	cpcap {
		compatible = "mot,cpcap";
		reg = <0>; /* CS 0 */
		spi-max-frequency = <3000000>;
		spi-cs-high;

		irq-gpio = <0>;
	};
};
