/*
 * Copyright (C) 2013 Motorola Mobility LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/include/ "omap36xx.dtsi"

/ {
	model = "Motorola OMAP3 Platform";
	compatible = "mot,omap3-minnow", "ti,omap3";

	/* FIXME: this dummy regulator is only needed as
	   a reference, but is enough to let devices
	   reference something.  The regulator_get will
	   fall back to a dummy regulator internally.
	*/
	regulators {
		compatible = "simple-bus";

		dummy: regulator-dummy {
			compatible = "regulator-fixed";
			regulator-name = "dummy";
			regulator-always-on;
		};

		vmmc: gpio-regulator {
			compatible = "regulator-fixed";

			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-name = "vmmc";
			gpio = <&gpio6 26 0>;
			startup-delay-us = <70000>;
			enable-active-high;
		};

	};

	m4sensor {
		compatible = "simple-bus";

		pressure {
			compatible = "mot,m4pressure";
		};
		mpu9150 {
			compatible = "mot,m4mpu9150";
		};
		pedometer {
			compatible = "mot,m4pedometer";
		};
		passive {
			compatible = "mot,m4passive";
		};
		gesture {
			compatible = "mot,m4gesture";
		};
		display {
			compatible = "mot,m4display";
		};
		download {
			compatible = "mot,m4download";
		};
		stillmode {
			compatible = "mot,m4stillmode";
		};
		lightsensor {
			compatible = "mot,m4als";
		};
	};

	sound {
		compatible = "mot,omap-soc-c55";
		mot,model = "omap3c55audio";
		mot,mcbsp = <&mcbsp4>;
	};

	soc {
		compatible = "mot,soc-c55";
		mot,mic_bias1_en = <&gpio3 13 0>; /* gpio-077 */
		mot,mic_bias3_en = <&gpio3 20 0>; /* gpio-084 */
	};

	wl18xx_rfkill {
		compatible = "mot,wl18xx-rfkill";
		status = "ok";
		mot,bt_fm =		<1>;  /* 0x1 - BT, 0x2 - FM, 0x3 - Both */
		mot,bt_en-gpio =        <&gpio3 19 0>; /* BT_EN        gpio-083 */
	};
};



&i2c1 {
	clock-frequency = <400000>;

	atmxt@4a {
		compatible = "atmel,atmxt-ts";
		reg = <0x4a>;
		interrupt-parent = <&intc>;
		gpios = <&gpio4 3 0>, /* IRQ   gpio-099 */
			<&gpio6 4 0>; /* RESET gpio-164*/
		atmel,atmxt-tdat-filename = "atmxt-r2.tdat";
	};
};

&i2c2 {
	m4sensorhub@39 {
		compatible = "mot,m4sensorhub";
		status = "ok";
		reg = <0x39>;

		mot,irq-gpio    = <&gpio2 27 1>; /* gpio-059 */
		mot,reset-gpio  = <&gpio5  1 2>; /* gpio-129 */
		mot,wake-gpio   = <&gpio4 30 0>; /* gpio-126 */
		mot,boot0-gpio  = <&gpio1 21 0>; /* gpio-021 */
		mot,boot1-gpio  = <&gpio1 24 0>; /* gpio-024 */
		mot,enable-gpio = <&gpio1 28 0>; /* gpio-028 */
		mot,fw-filename = "m4sensorhub-p0_minnow.bin";
	};
};

&mcspi2 {
	m4sensorhubaudio {
		compatible = "mot,m4audio";
		reg = <0>; /* CS 0 */
		spi-max-frequency = <2000000>;
		spi-cpha = <0>;
		spi-cpol = <0>;
	};
};

&i2c3 {

	clock-frequency = <400000>;

	lm3535@38 {
		compatible = "ti,lm3535";
		reg = <0x38>;
	};

	max17050@36 {
		compatible = "maxim,max17050";
		reg = <0x36>;
	};
};


&omap3_pmx_core {
	pinctrl-names = "default";
	pinctrl-0 = <
		&board_pins
		&audio_gpio_pins
		&usb_phy_pins
	>;

	board_pins: pinmux_board_pins {
		pinctrl-single,pins = <
			0x08e 0x104	/* GPMC_CLK, MODE4 | INPUT */
			0x0a0 0x002	/* GPMC_WAIT2, MODE2 | OUTPUT */
			0x0a2 0x102	/* GPMC_WAIT3, MODE2 | INPUT */
			0x0ac 0x001	/* DSI_DX0, MODE1 | OUTPUT */
			0x0ae 0x001	/* DSI_DY0, MODE1 | OUTPUT */
			0x0b0 0x001	/* DSI_DX1, MODE1 | OUTPUT */
			0x0b2 0x001	/* DSI_DY1, MODE1 | OUTPUT */
			0x0b8 0x104	/*  DSS_DATA6, MODE4 | INPUT */
			0x0c0 0x004	/*  DSS_DATA10, MODE4 | OUTPUT */
			0x0c2 0x004	/*  DSS_DATA11, MODE4 | OUTPUT */
			0x0c6 0x004	/* DSS_DATA13, MODE4 | OUTPUT */
			0x0ea 0x004	/* MUXCAM_D2, MODE4 | OUTPUT */
			0x0e4 0x004	/* CAM_FLD, MODE4 | OUTPUT */
			0x0e6 0x11c	/* CAM_D0, MODE4 | INPUT_PULLUP */
			0x122 0x004	/* SIM_CLK, MODE4 | OUTPUT */
			0x124 0x104	/* SIM_PWRCTRL, MODE4 | INPUT */
			0x144 0x100	/* UART2_CTS, MODE0  | OUTPUT */
			0x146 0x000	/* UART2_RTS, MODE0 | OUTPUT */
			0x148 0x000	/* UART2_TX, MODE0 | INPUT */
			0x14a 0x100	/* UART2_RX, MODE0 | INPUT */
			0x14c 0x000	/* UART1_TX, MODE0 | OUTPUT */
			0x14e 0x000	/* UART1_RTS, MODE0 | OUTPUT */
			0x150 0x100	/* UART1_CTS, MODE0 | INPUT */
			0x152 0x100	/* UART1_RX, MODE0 | INPUT */
			0x154 0x100	/* MCBSP4_CLKX, MODE0 | INPUT */
			0x156 0x100	/* MCBSP4_DR, MODE0 | INPUT */
			0x158 0x000	/* MCBSP4_DX, MODE0 | OUTPUT */
			0x15a 0x118	/* MCBSP4_FSX,MODE0 | INPUT_PULLUP */
			0x168 0x104	/* MCBSP1_CLKX, MODE4 | INPUT */
			0x16c 0x004	/* UART3_RTS_SD, MODE4 | OUTPUT */
			0x18e 0x118	/* I2C2_SCL, MODE0 | INPUT_PULLUP */
			0x190 0x118	/* I2C2_SDA, MODE0 | INPUT_PULLUP */
			0x192 0x118	/* I2C3_SCL, MODE0 | INPUT_PULLUP */
			0x194 0x118	/* I2C3_SDA, MODE0 | INPUT_PULLUP */
			0x198 0x100	/* MCSPI1_CLK, MODE0 | INPUT */
			0x19a 0x000	/* MCSPI1_SIMO, MODE0 | OUTPUT */
			0x19c 0x100	/* MCSPI1_SOMI, MODE0 | INPUT */
			0x19e 0x000	/* MCSPI1_CS0, MODE0 | OUTPUT */
			0x1a0 0x000	/* MCSPI1_CS1, MODE0 | OUTPUT */
			0x1a6 0x100	/* MCSPI2_CLK, MODE0 | INPUT */
			0x1a8 0x000	/* MCSPI2_SIMO, MODE0 | OUTPUT */
			0x1aa 0x100	/* MCSPI2_SOMI, MODE0 | INPUT */
			0x1ac 0x000	/* MCSPI2_CS0, MODE0 | OUTPUT */
			0x1ae 0x004	/* MCSPI2_CS1, MODE4 | OUTPUT */
			0x1b0 0x104	/* SYS_NIRQ, MODE4 | INPUT  */
			0x1b2 0x004	/* SYS_CLKOUT2, MODE4 | OUTPUT  */
			0x5a8 0x11a	/* ETK_CLK, MODE2 | INPUT_PULLUP */
			0x5aa 0x11a	/* ETK_CTL, MODE2 | INPUT_PULLUP */
			0x5b2 0x11a	/* ETK_D3, MODE2 | INPUT_PULLUP */
			0x5b4 0x11a	/* ETK_D4, MODE2 | INPUT_PULLUP */
			0x5b6 0x11a	/* ETK_D5, MODE2 | INPUT_PULLUP */
			0x5b8 0x11a	/* ETK_D6, MODE2 | INPUT_PULLUP */
			0x5ba 0x004	/* ETK_D7, MODE4 | OUTPUT */
			0x5c0 0x004	/* ETK_D10, MODE4 | OUTPUT */
			0x5c8 0x004	/* ETK_D14, MODE4 | OUTPUT */
		>;
	};

	audio_gpio_pins: pinmux_audio_gpio_pins {
	};

	usb_phy_pins: pinmux_usb_phy_pins {
	};

	wdi_phy_gpio_mode: pinmux_wdi_phy_gpio_mode {
		pinctrl-single,pins = <
			0x142 0x004 /* MCBSP_FSX | OUTPUT */
		>;
	};

	wdi_phy_safe_mode: pinmux_wdi_phy_safe_mode {
		pinctrl-single,pins = <
			0x142 0x10F /* MCBSP_FSX | INPUT | PULLDOWN */
		>;
	};
};

&omap3_pmx_wkup{
	pinctrl-names = "default";
	pinctrl-0 = <&wkup_pins>;

	wkup_pins: pinmux_wakeup_pins {
		pinctrl-single,pins = <
			0x01a 0x10c     /* SYS_CLKOUT1, MODE4 | INPUT_PULLDOWN */
			0x05a 0x004     /* GPIO_129, MODE4 | OUTPUT */
		>;
	};
};

/* internal */
&mmc2 {
	ti,non-removeable;
	bus-width = <8>;
	vmmc-supply = <&dummy>;
	vmmc_aux-supply = <&dummy>;
};

/* wireless */
&mmc3 {
	ti,non-removeable;
	cap-power-off-card;
	bus-width = <4>;
	vmmc-supply = <&vmmc>;
	wl_host_wake_gpio = <10>;
};
